body {
  margin: 0;
  padding: 0;
  font-family: "Avenir", -apple-system, BlinkMacSystemFont, "Segoe UI",
    system-ui, sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
