.cartDrawer {
  .cartDrawerContent {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    .emptyCart {
      text-align: center;
      color: #999;
      font-size: 1rem;
    }

    .cartItem {
      display: flex;
      gap: 1rem;
      padding: 1rem;
      border: 1px solid #d9d9d9;
      border-radius: 4px;

      img {
        width: 60px;
        height: 60px;
        object-fit: contain;
      }

      .cartItemDetails {
        display: flex;
        flex-direction: column;
        justify-content: center;

        .cartItemTitle {
          font-size: 0.9rem;
          font-weight: bold;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          max-width: 200px;
        }

        .cartItemPrice {
          font-size: 1rem;
          color: #52c41a;
          font-weight: bold;
        }
      }
    }
  }
}

.loginModal {
  .loginModalContent {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    input {
      height: 2.5rem;
      padding: 0.5rem;
      border: 1px solid #d9d9d9;
      border-radius: 4px;
      font-size: 1rem;

      &:focus {
        outline: none;
        border-color: #1890ff;
      }
    }

    button {
      height: 2.5rem;
      margin-top: 0.5rem;
      background-color: black;
      color: white;
      border: none;
      font-weight: bold;

      &:hover {
        background-color: #333;
        color: white;
      }
    }
  }
}

.homePage {
  width: 100%;
  height: 100%;
  background-color: red;
  .eCommerceHeader {
    width: 100%;
    height: 4rem;
    background-color: black;
    display: flex;
    .leftSection {
      width: 50%;
      height: inherit;
      display: flex;
      align-items: center;
      padding-left: 2rem;
      span {
        color: white;
        font-size: 1.2rem;
        font-weight: bold;
      }
    }
    .rightSection {
      width: 50%;
      height: inherit;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      padding-right: 2rem;
      .loginButton {
        margin-right: 1rem;
        height: 2rem;
        width: 8rem;
        background-color: white;
        color: black;
        font-weight: bold;
        border: none;
      }
      .cartButton {
        background-color: white;
        color: black;
        border: none;
        font-weight: bold;
        height: 2rem;
        width: 8rem;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }
  .eCommerceBody {
    width: 100%;
    height: calc(100% - 4rem);
    background-color: white;
    .filterSection {
      width: 100%;
      height: 5rem;
      display: flex;
      align-items: center;
      padding-left: 2rem;
      span {
        color: black;
        font-size: 1.2rem;
        font-weight: bold;
        margin-right: 1rem;
      }
    }
    .productList {
      height: 55rem;
      width: 100%;
      overflow: scroll;
      display: flex;
      flex-wrap: wrap;
      padding: 2rem;
      gap: 2rem;
    }
  }
}
