.titleWrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  
  .activeTitleTab {
    height: 2.2rem;
    height: 3rem;
    border: none;
    background-color: #2d2d2d;
    border-radius: 6px;
    color: #a5d6a7;;
    font-weight: bold;
    font-size: 1.1rem;
    text-align: left;
  }

  .titleTab {
    height: 2.2rem;
    height: 3rem;
    border: none;
    background-color: black;
    color: white;
    font-weight: bold;
    font-size: 1rem;
    text-align: left;
  }
}
