.App {
  height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;

  .applicationBody {
    width: 100%;
    flex: 1;
    display: flex;
    overflow: hidden;

    .applicationSideNav {
      width: 20rem;
      min-width: 20rem;
      background-color: black;
      height: 100%;
      overflow-y: auto;
    }

    .applicationContent {
      flex: 1;
      height: 100%;
      overflow-y: auto;
    }
  }
}