.App {
  .applicationBody {
    width: 100%;
    height: 96.5vh;
    display: flex;
    .applicationSideNav {
      width: 20rem;
      background-color: black;
      height: inherit;
    }
    .applicationContent {
      width: 100%;
      height: inherit;
      // background-color: red;
    }

  }
}