.appHeader {
  width: 100%;
  height: 4rem;
  background-color: black;
  display: flex;

  .leftSection {
    width: 60%;
    height: inherit;
    display: flex;
    align-items: center;
    .headerText {
      font-size: 1.2rem;
      color: white;
      padding-left: 0.5rem;
      font-weight: bold;
    }
  }

  .rightSection {
    width: 40%;
    height: inherit;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 2rem;
  }

}

  .drawerContent {
    .teamMember_Info {
      display: flex;
      align-items: center;
      gap: 1rem;
      .imageContainer {
        width: 2rem;
        height: 2rem;
        border: 1px solid black;
        border-radius: 50%;
      }
    }
  }
